$primary-font: 'Open Sans', sans-serif;
$secondary-font: 'Raleway', sans-serif;
$gray: #393e46;
$gray-light: #a0a8b5;
$gray-lighter: #f8f8f9;
$gray-dark: #2b3139;
$gray-darker: #252b36;
$gray-darkest: #1e252f;
$gray-bg: #222831;
$gray-footer: #a0a8b5;
$primary-color: #f65464;
$secondary-color: #f58826;